@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply bg-alice-blue font-sans;
}

.mobile-header-bg {
  background-image: url('./assets/suggestions/mobile/background-header.png');
  background-size: cover;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .tablet-bg {
    background-image: url('./assets/suggestions/tablet/background-header.png');
    background-size: cover;
  }
}

@media (min-width: 1024px) {
  .desktop-bg {
    background-image: url('./assets/suggestions/desktop/background-header.png');
    background-size: cover;
  }
}
